<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Parking_Finder.Properties.Settings.ConnectionString"
      connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;database=parkingfinder"
      providerName="System.Data.SqlClient" />
    <add name="Parking_Finder.Properties.Settings1.ConnectionString"
      connectionString="server=127.0.0.1;user id=root;password=123456;database=parkingfinder" />
  </connectionStrings>
</configuration>
